@font-face {
    font-family: norse-bold;
    src: url(../fonts/norse-bold-webfont.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.06rem;
    line-height: 1.2;
}

html,
body {
    display: flex;
    min-height: 95vh;
    padding: 1.2rem 6rem;
    background-color: black;
}

#logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 40%;
    height: 100%;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo-panel {
    display:flex;
    justify-content: center;
    margin-top: 20vh;
    height: 14vh;
    background-color: rgba(0,0,0,0.4);
}

#logo-image {
    min-width: 12vw;
    background-image: url("images/odin-lined.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#logo-caption {
    font-family: norse-bold;
    font-size: 6vw;
    font-weight: 500;
    color: white;
}

#logo-footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    color: white;
    text-align: center;
}

#main {
    height: 100%;
    background-color: rgb(245,245,245);;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-field label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.55rem;
    font-weight: 600;
}

.form-field input {
    border: 1px solid lightslategray;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}
